h1 {
	text-align: center;
	margin-bottom: 1rem;
}
.wrapper {
	padding-top: 3rem;
	padding-bottom: 4rem;
	display: grid;
	gap: 1rem;
}
.spinner {
	display: flex;
	justify-content: center;
	padding: 4rem;
}

.pfp-list {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 1.85rem;
	justify-content: center;
	width: 100%;
}
.pfp-list.hidden {
	display: none;
}
@media (max-width: 1170px) {
	.pfp-list {
		grid-template-columns: repeat(2, 300px);
	}
}

@media (max-width: 780px) {
	.pfp-list {
		grid-template-columns: repeat(1, 300px);
	}
}
.pfp-list .template {
	position: relative;
	border-radius: 1rem;
	border: 4px solid rgba(255, 255, 255, 0.3);
	overflow: hidden;
}
.pfp-list .template img.bg {
	width: 100%;
	display: block;
}
.user-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.user-image img {
	display: block;
	width: 100%;
	height: 100%;
}

.pfp-list .template .download-button-wrapper {
	position: absolute;
	bottom: 3%;
	right: 3%;
	transition: 0.3s;
	transform: translateX(80%);
	opacity: 0;
}
.pfp-list .template:hover .download-button-wrapper {
	transform: translateX(0%);
	opacity: 1;
}

button.download-button {
	display: flex;
	padding: 0.5rem;
	border-radius: 5px;
	background: #0366d6;
	border: 2px solid #1777e6;
}
