<app-container>
	<div class="wrapper">
		<ng-container *ngIf="upload.status === upload.UploadStatus.PROCESSING">
			<h1>Generating Profile Pictures...</h1>
			<div class="spinner">
				<span class="wobblebar-loader">Loading...</span>
			</div>
		</ng-container>

		<h1 *ngIf="upload.status === upload.UploadStatus.COMPLETE">Ready!</h1>
		<div
			class="pfp-list {{
				upload.status === upload.UploadStatus.COMPLETE ? '' : 'hidden'
			}}"
		>
			<div
				*ngFor="let template of templates"
				class="template {{ template.key }}"
			>
				<img
					class="bg"
					[src]="template.bg"
					draggable="false"
					alt="background"
					loading="eager"
				/>
				<div
					class="user-image"
					[ngStyle]="getUserImageStyles(template.position)"
				>
					<img
						*ngIf="!!upload.imageURL"
						[src]="upload.imageURL"
						alt="user"
						draggable="false"
					/>
				</div>
				<div class="download-button-wrapper">
					<button
						class="download-button"
						(click)="download(template)"
					>
						<img
							src="/assets/download.svg"
							width="36"
							height="36"
							draggable="false"
						/>
					</button>
				</div>
			</div>
		</div>
	</div>
</app-container>
