<app-container>
	<div class="wrapper">
		<ng-container *ngIf="upload.status === upload.UploadStatus.PROCESSING">
			<h1>Generating Profile Pictures...</h1>
			<div class="spinner">
				<span class="whirly-loader">Loading...</span>
			</div>
		</ng-container>

		<ng-container *ngIf="upload.status === upload.UploadStatus.COMPLETE">
			<h1>Ready!</h1>
			<div class="pfp-list">
				<div
					*ngFor="let template of templates"
					class="template {{ template.key }}"
				>
					<img
						class="bg"
						[src]="template.bg"
						draggable="false"
						alt="background"
					/>
					<div
						class="user-image"
						[ngStyle]="getUserImageStyles(template.position)"
					>
						<img
							[src]="upload.imageURL"
							alt="user"
							draggable="false"
						/>
					</div>
					<div class="download-button-wrapper">
						<button
							class="download-button"
							(click)="download(template)"
						>
							<img
								src="/assets/download.svg"
								width="36"
								height="36"
								draggable="false"
							/>
						</button>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</app-container>
