.text-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.85rem;
}
header {
  padding: 1rem 2rem;
  background-color: #1e232c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.app-title {
  color: white;
  font-size: 1.15rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button,
.button {
  background-color: #262626;
  color: white;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid #2e2d27;
  border-radius: 10px;
  display: block;
}
