.hero {
  padding: 2rem;
  padding-top: 10rem;
  display: grid;
  gap: 1rem;
}
.hero .content {
  text-align: center;
}
.hero .content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
button.hero-primary {
  font-size: 1.5rem;
  background: #0366d6;
  border: 2px solid #1777e6;
  border-radius: 10px;
  color: white;
  font-family: "Work Sans", sans-serif;
  padding: 1rem 1.5rem;
}
