/* Credits: https://codepen.io/jlong/pen/nJvEYJ */

@-moz-keyframes spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spinner-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
	-moz-animation: spinner-loader 1500ms infinite linear;
	-webkit-animation: spinner-loader 1500ms infinite linear;
	animation: spinner-loader 1500ms infinite linear;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0,
		rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0,
		rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	-webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0,
		rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0,
		rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0,
		rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0,
		rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0,
		rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	display: inline-block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin: 1.5em;
	overflow: hidden;
	text-indent: 100%;
}

@-moz-keyframes refreshing-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes refreshing-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes refreshing-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
	-moz-animation: refreshing-loader 1000ms infinite linear;
	-webkit-animation: refreshing-loader 1000ms infinite linear;
	animation: refreshing-loader 1000ms infinite linear;
	-moz-border-radius: 2.4em;
	-webkit-border-radius: 2.4em;
	border-radius: 2.4em;
	border: 0.4em solid #9ac;
	border-left-color: transparent;
	color: transparent;
	display: inline-block;
	font-size: 10px;
	line-height: 1.2;
	width: 3em;
	height: 3em;
	text-indent: 100%;
}
.refreshing-loader:not(:required):after {
	display: block;
	border: 0.5em solid transparent;
	border-top-color: #9ac;
	border-left-color: #9ac;
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	margin-left: -0.2em;
	margin-top: 1em;
}

@-moz-keyframes throbber-loader {
	0% {
		background: #dde2e7;
	}
	10% {
		background: #6b9dc8;
	}
	40% {
		background: #dde2e7;
	}
}
@-webkit-keyframes throbber-loader {
	0% {
		background: #dde2e7;
	}
	10% {
		background: #6b9dc8;
	}
	40% {
		background: #dde2e7;
	}
}
@keyframes throbber-loader {
	0% {
		background: #dde2e7;
	}
	10% {
		background: #6b9dc8;
	}
	40% {
		background: #dde2e7;
	}
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
	-moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
	animation: throbber-loader 2000ms 300ms infinite ease-out;
	background: #dde2e7;
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 0.9em;
	height: 1.5em;
	margin: 0 1.6em;
}
.throbber-loader:not(:required):before,
.throbber-loader:not(:required):after {
	background: #dde2e7;
	content: "\x200B";
	display: inline-block;
	width: 0.9em;
	height: 1.5em;
	position: absolute;
	top: 0;
}
.throbber-loader:not(:required):before {
	-moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
	animation: throbber-loader 2000ms 150ms infinite ease-out;
	left: -1.6em;
}
.throbber-loader:not(:required):after {
	-moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
	animation: throbber-loader 2000ms 450ms infinite ease-out;
	right: -1.6em;
}

@-moz-keyframes heartbeat-loader {
	0% {
		-moz-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	14% {
		-moz-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	28% {
		-moz-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	42% {
		-moz-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	70% {
		-moz-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
}
@-webkit-keyframes heartbeat-loader {
	0% {
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	14% {
		-webkit-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	28% {
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	42% {
		-webkit-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	70% {
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
}
@keyframes heartbeat-loader {
	0% {
		-moz-transform: rotate(45deg) scale(1);
		-ms-transform: rotate(45deg) scale(1);
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	14% {
		-moz-transform: rotate(45deg) scale(1.3);
		-ms-transform: rotate(45deg) scale(1.3);
		-webkit-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	28% {
		-moz-transform: rotate(45deg) scale(1);
		-ms-transform: rotate(45deg) scale(1);
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
	42% {
		-moz-transform: rotate(45deg) scale(1.3);
		-ms-transform: rotate(45deg) scale(1.3);
		-webkit-transform: rotate(45deg) scale(1.3);
		transform: rotate(45deg) scale(1.3);
	}
	70% {
		-moz-transform: rotate(45deg) scale(1);
		-ms-transform: rotate(45deg) scale(1);
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.heartbeat-loader:not(:required) {
	-moz-animation: heartbeat-loader 1300ms ease 0s infinite normal;
	-webkit-animation: heartbeat-loader 1300ms ease 0s infinite normal;
	animation: heartbeat-loader 1300ms ease 0s infinite normal;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	-moz-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	-webkit-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.heartbeat-loader:not(:required):after,
.heartbeat-loader:not(:required):before {
	position: absolute;
	content: "";
	background: #e87;
}
.heartbeat-loader:not(:required):before {
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;
	top: 12px;
	left: 0;
	width: 36px;
	height: 24px;
}
.heartbeat-loader:not(:required):after {
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
	top: 0;
	left: 12px;
	width: 24px;
	height: 12px;
}

@-moz-keyframes gauge-loader {
	0% {
		-moz-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
	10% {
		-moz-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	20% {
		-moz-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	24% {
		-moz-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	40% {
		-moz-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	54% {
		-moz-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	56% {
		-moz-transform: rotate(78deg);
		transform: rotate(78deg);
	}
	58% {
		-moz-transform: rotate(73deg);
		transform: rotate(73deg);
	}
	60% {
		-moz-transform: rotate(75deg);
		transform: rotate(75deg);
	}
	62% {
		-moz-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	70% {
		-moz-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	80% {
		-moz-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	83% {
		-moz-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	86% {
		-moz-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	89% {
		-moz-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	100% {
		-moz-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
}
@-webkit-keyframes gauge-loader {
	0% {
		-webkit-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
	10% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	20% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	24% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	40% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	54% {
		-webkit-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	56% {
		-webkit-transform: rotate(78deg);
		transform: rotate(78deg);
	}
	58% {
		-webkit-transform: rotate(73deg);
		transform: rotate(73deg);
	}
	60% {
		-webkit-transform: rotate(75deg);
		transform: rotate(75deg);
	}
	62% {
		-webkit-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	70% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	80% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	83% {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	86% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	89% {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	100% {
		-webkit-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
}
@keyframes gauge-loader {
	0% {
		-moz-transform: rotate(-50deg);
		-ms-transform: rotate(-50deg);
		-webkit-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
	10% {
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	20% {
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	24% {
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	40% {
		-moz-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	54% {
		-moz-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	56% {
		-moz-transform: rotate(78deg);
		-ms-transform: rotate(78deg);
		-webkit-transform: rotate(78deg);
		transform: rotate(78deg);
	}
	58% {
		-moz-transform: rotate(73deg);
		-ms-transform: rotate(73deg);
		-webkit-transform: rotate(73deg);
		transform: rotate(73deg);
	}
	60% {
		-moz-transform: rotate(75deg);
		-ms-transform: rotate(75deg);
		-webkit-transform: rotate(75deg);
		transform: rotate(75deg);
	}
	62% {
		-moz-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		transform: rotate(70deg);
	}
	70% {
		-moz-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	80% {
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	83% {
		-moz-transform: rotate(25deg);
		-ms-transform: rotate(25deg);
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	86% {
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	89% {
		-moz-transform: rotate(25deg);
		-ms-transform: rotate(25deg);
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	100% {
		-moz-transform: rotate(-50deg);
		-ms-transform: rotate(-50deg);
		-webkit-transform: rotate(-50deg);
		transform: rotate(-50deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.gauge-loader:not(:required) {
	background: #6ca;
	-moz-border-radius-topleft: 32px;
	-webkit-border-top-left-radius: 32px;
	border-top-left-radius: 32px;
	-moz-border-radius-topright: 32px;
	-webkit-border-top-right-radius: 32px;
	border-top-right-radius: 32px;
	display: inline-block;
	width: 64px;
	height: 32px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
}
.gauge-loader:not(:required)::before {
	-moz-animation: gauge-loader 4000ms infinite ease;
	-webkit-animation: gauge-loader 4000ms infinite ease;
	animation: gauge-loader 4000ms infinite ease;
	background: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	content: "";
	position: absolute;
	left: 30px;
	top: 5.33333px;
	width: 4px;
	height: 26.66667px;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.gauge-loader:not(:required)::after {
	content: "";
	background: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	left: 25.6px;
	top: 25.6px;
	width: 12.8px;
	height: 12.8px;
}

@-moz-keyframes timer-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes timer-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes timer-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.timer-loader:not(:required) {
	border: 6px solid #c8d;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: 48px;
	height: 48px;
}
.timer-loader:not(:required)::before {
	-moz-animation: timer-loader 1250ms infinite linear;
	-webkit-animation: timer-loader 1250ms infinite linear;
	animation: timer-loader 1250ms infinite linear;
	-moz-transform-origin: 3px 3px;
	-ms-transform-origin: 3px 3px;
	-webkit-transform-origin: 3px 3px;
	transform-origin: 3px 3px;
	background: #c8d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 19.2px;
	left: 15px;
	top: 15px;
}
.timer-loader:not(:required)::after {
	-moz-animation: timer-loader 15000ms infinite linear;
	-webkit-animation: timer-loader 15000ms infinite linear;
	animation: timer-loader 15000ms infinite linear;
	-moz-transform-origin: 3px 3px;
	-ms-transform-origin: 3px 3px;
	-webkit-transform-origin: 3px 3px;
	transform-origin: 3px 3px;
	background: #c8d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 16px;
	left: 15px;
	top: 15px;
}

@-moz-keyframes three-quarters-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes three-quarters-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes three-quarters-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
	-moz-animation: three-quarters-loader 1250ms infinite linear;
	-webkit-animation: three-quarters-loader 1250ms infinite linear;
	animation: three-quarters-loader 1250ms infinite linear;
	border: 8px solid var(--sf-white);
	border-right-color: var(--sf-red);
	border-radius: 16px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}

@-moz-keyframes wobblebar-loader {
	0% {
		left: 4px;
	}
	3% {
		left: 104px;
	}
	6% {
		left: 4px;
	}
	9% {
		left: 104px;
	}
	12% {
		left: 4px;
	}
	15% {
		left: 104px;
	}
	18% {
		left: 32px;
	}
	27% {
		left: 32px;
	}
	30% {
		left: 104px;
	}
	33% {
		left: 4px;
	}
	36% {
		left: 104px;
	}
	39% {
		left: 4px;
	}
	42% {
		left: 104px;
	}
	45% {
		left: 4px;
	}
	48% {
		left: 104px;
	}
	51% {
		left: 52px;
	}
	63% {
		left: 52px;
	}
	66% {
		left: 4px;
	}
	69% {
		left: 104px;
	}
	72% {
		left: 4px;
	}
	75% {
		left: 104px;
	}
	78% {
		left: 4px;
	}
	81% {
		left: 104px;
	}
	84% {
		left: 72px;
	}
	94% {
		left: 72px;
	}
	97% {
		left: 104px;
	}
}
@-webkit-keyframes wobblebar-loader {
	0% {
		left: 4px;
	}
	3% {
		left: 104px;
	}
	6% {
		left: 4px;
	}
	9% {
		left: 104px;
	}
	12% {
		left: 4px;
	}
	15% {
		left: 104px;
	}
	18% {
		left: 32px;
	}
	27% {
		left: 32px;
	}
	30% {
		left: 104px;
	}
	33% {
		left: 4px;
	}
	36% {
		left: 104px;
	}
	39% {
		left: 4px;
	}
	42% {
		left: 104px;
	}
	45% {
		left: 4px;
	}
	48% {
		left: 104px;
	}
	51% {
		left: 52px;
	}
	63% {
		left: 52px;
	}
	66% {
		left: 4px;
	}
	69% {
		left: 104px;
	}
	72% {
		left: 4px;
	}
	75% {
		left: 104px;
	}
	78% {
		left: 4px;
	}
	81% {
		left: 104px;
	}
	84% {
		left: 72px;
	}
	94% {
		left: 72px;
	}
	97% {
		left: 104px;
	}
}
@keyframes wobblebar-loader {
	0% {
		left: 4px;
	}
	3% {
		left: 104px;
	}
	6% {
		left: 4px;
	}
	9% {
		left: 104px;
	}
	12% {
		left: 4px;
	}
	15% {
		left: 104px;
	}
	18% {
		left: 32px;
	}
	27% {
		left: 32px;
	}
	30% {
		left: 104px;
	}
	33% {
		left: 4px;
	}
	36% {
		left: 104px;
	}
	39% {
		left: 4px;
	}
	42% {
		left: 104px;
	}
	45% {
		left: 4px;
	}
	48% {
		left: 104px;
	}
	51% {
		left: 52px;
	}
	63% {
		left: 52px;
	}
	66% {
		left: 4px;
	}
	69% {
		left: 104px;
	}
	72% {
		left: 4px;
	}
	75% {
		left: 104px;
	}
	78% {
		left: 4px;
	}
	81% {
		left: 104px;
	}
	84% {
		left: 72px;
	}
	94% {
		left: 72px;
	}
	97% {
		left: 104px;
	}
}
/* :not(:required) hides this rule from IE9 and below */
.wobblebar-loader:not(:required) {
	background: #f30104;
	-moz-border-radius: 10.66667px;
	-webkit-border-radius: 10.66667px;
	border-radius: 10.66667px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	width: 128px;
	height: 21.33333px;
	position: relative;
}
.wobblebar-loader:not(:required)::after {
	-moz-animation: wobblebar-loader 15000ms infinite ease;
	-webkit-animation: wobblebar-loader 15000ms infinite ease;
	animation: wobblebar-loader 15000ms infinite ease;
	background: white;
	display: block;
	-moz-border-radius: 7.11111px;
	-webkit-border-radius: 7.11111px;
	border-radius: 7.11111px;
	content: "";
	position: absolute;
	top: 3.55556px;
	left: 4px;
	width: 21.33333px;
	height: 14.22222px;
}
