/* You can add global styles to this file, and also import other style files */

:root{
    --sf-red: #f30100;
    --sf-white: #ffffff;
}
body{
    font-family: "Work Sans", sans-serif;
    padding: 0;
    margin: 0;
    background: #0d1117;
}
.sf-red{
    color: var(--sf-red);
}
.sf-white{
    color: var(--sf-white);
}